<form id="form_id" action="/trials/<%= @trial.id %>/schedule/add" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="description">Description of visit</label>
    <input type="text" id="description" name="description" class="form-control">
  </div>
  <div class="form-group">
    <label for="visit_number">Visit Number</label>
    <input type="number" id="visit_number" name="visit_number" class="form-control">
  </div>
  <div class="form-group">
    <label for="days_to_next">Days til next Visit</label>
    <input type="text" id="days_to_next" name="days_to_next" class="form-control">
  </div>
  <button type="submit" class="btn btn-success" name="add_schedule">Add Visit to Schedule</button>
</form>
