<input type="hidden" name="_method" value="delete">
<label for="delete" class="form-inline">Delete</label>
<button name="delete" class="form-inlin btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
