<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1>
          iCal <span><small> Add Visit Schedule</small></span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p class="lead">Copy the link below into iCal as a "New Calendar Subscription":</p>
        <p  class="text-center"><a href="/events/export/events.ics">localhost:4567/events/export/events.ics</a></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <a href="/" class="btn btn-block btn-primary" role="button">Home</a>
      </div>
    </div>
  </div>
</div>
