<h1>Add Visit Schedule to iCal</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <p class="lead">Copy the link below into iCal as a "New Calendar Subscription":</p>
    <p  class="text-center"><a href="/events/export/events.ics">localhost:4567/events/export/events.ics</a></p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a href="/" class="btn btn-primary" role="button">Home</a>
  </div>
</div>
