<style media="screen">
  body {
    background-image: url('img/background.jpg') ;
  }
</style>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1>
          Clinical Trial <span><small> Scheduling App</small></span>
        </h1>
      </div>
    </div>
  </div>
</div>
