<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>Clinical Trials</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div id="wrap" class="container">
    <%= yield %>
  </div>
</body>
<footer>
  <div id ="footer">
    <div class ="row">
      <div class="text-center">
        <div class="col-md-4">
          <a href="/patients">patients</a>
        </div>
        <div class="col-md-4">
          <a href="/trials">trials</a>
        </div>
        <div class="col-md-4">
          <a href="/specialists">specialist</a>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class="text-center">
        <div class="col-md-4">
          <a href="/add_patient">add patient</a>
        </div>
        <div class="col-md-4">
          <a href="/add_trial">add trial</a>
        </div>
        <div class="col-md-4">
          <a href="/add_specialist">add specialist</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>
