<h1><%= @patient.name%>'s information</h1>







<% if @patient.visits.any? %>
  <ul>
    <% @patient.visit do |visit| %>
    <li><a href="/visits/<%= visit.id %>"> <%= visits.name %> </a></li>
    <% end %>
  </ul>

<% else %>


<p class="lead"> <%= @patient.name%> currently has no visits please see the <a href="/trials">trials</a> page to assign them to a trial.

</p>

<% end %>
