<h1>Schedule for <%= @trial.name %></h1>

<% if @schedule.any? %>
  <ul>
    <% @schedule.each do |visit| %>
      <li>Visit description: <%= visit.description%> </li>
      <li>Visit number: <%= visit.visit_number%></li>
      <li>Next visit: <%= visit.days_to_next%> days</li>
    <% end %>
  </ul>
<% end %>
