<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class="col-md-1">#</th>
      <th class="col-md-2">Visit Description</th>
      <th class="col-md-2">Days Until Subsequent Visit</th>
    </tr>
  </thead>
  <tbody>
    <% @schedule_template.each do |visit| %>
      <tr>
        <td><%= visit.visit_number%></td>
        <td><%= visit.description %></td>
        <td><%= visit.days_to_next %></td>
      </tr>
    <% end %>
  </tbody>
</table>
