<h1>Schedule for <%= @trial.name %></h1>

<% if @schedule.any? %>
  <%= erb :schedule_partial %>
<% else %>
  <p class="lead">No schedule has been created create schedule <a href="/trials/<%= @trial.id%>/schedule/add"> here</a></p>
<% end %>
