<h1>Specialists</h1>

<% if @specialists.any? %>
  <% @specialist.uniq.each do |special| %>
    <li><a href="/specialist/<%= special.id %>"><%= special.name %></a>
      <span class="btn-group inline">
            <form action="/specialist/<%= special.id %>" method="post">
              <input name="_method" type="hidden" value ="delete">
              <button id="delete_specialist" type="submit" class="btn btn-xs btn-danger glyphicon glyphicon-remove">
              </button>
            </form>
          </span>
        <p></p>
    </li>
  <% end %>
<% end %>

<div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
