<div class="form-group">
  <label for="first_name">First Name</label>
  <input class="form-control" type="text" name="first_name" id="first_name" placeholder="John" autofocus >
  <label for="last_name">Last Name</label>

  <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Digweed" autofocus >
  <label for="phone">Phone Number</label>
  <input class="form-control" type="text" name="phone" id="phone" placeholder="987-654-3210" >
  <label for="email">E-mail</label>
  <input class="form-control" type="text" name="email" id="email" placeholder="john@johndigweed.com" >
</div>
