<h1>Add a Specialist</h1>

<div class="col-md-4 col-md-offset-4">
  <form action="/specialists/add" method="post">
    <%= erb :specialist_partial %>
    <button name="submit" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
