<div class="form-group">
  <label for="name">First Name</label>
  <input class="form-control" type="text" name="name" id="first_name" placeholder="John" autofocus required>
  <label for="name">Last Name</label>

  <input class="form-control" type="text" name="name" id="last_name" placeholder="Digweed" autofocus required>
  <label for="phone">Phone Number</label>
  <input class="form-control" type="text" name="phone" id="phone" placeholder="987-654-3210" required>
  <label for="email">E-mail</label>
  <input class="form-control" type="text" name="email" id="email" placeholder="john@johndigweed.com" required>
</div>
