<div class="form-group">
  <label for="company">Company Name</label>
  <input class="form-control" type="text" name="company" id="company" placeholder="Shire Pharmaceuticals" autofocus >
</div>
<div class="form-group">
  <label for="name"> Trial Name</label>
  <input class="form-control" type="text" name="name" id="name" placeholder="Adderall XR" >
</div>
<div class="form-group">
  <label for="visits">Number Of Visits</label>
  <input class="form-control" type="text" name="visits" id="visits" placeholder="20" >
</div>
<div class="form-group">
  <label for="description"> Description</label>
  <input class="form-control" type="text" name="description" id="description" placeholder="Study on treatment for Attention Deficit Hyperactivity Disorder" >
</div>
