<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
          Modfinil <span><small>Shire Pharmaceuticals</small></span>
				</h1>
			</div>
			<dl>
				<dt>
					<p class="lead">Number of visits:</p> 
				</dt>
				<dd>
        <p> 45 </p>
				</dd>
				<dt>
					<p class ="lead">Description:</p>
				</dt>
				<dd>
          <p>testing of blah blah blah</p>
				</dd>
				<br />
			</dl>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="panel-group" id="panel-276987">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-276987" href="#panel-element-177772">Patients included in trial</a>
					</div>
					<div id="panel-element-177772" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<dl>
				<dt>
					<span><p class="lead text-danger">It appears no patients are available for this trial. Feel free to <a href="/patients">add more patients</a></p></span>
				</dt>
			</dl>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="panel-group" id="panel-859960">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-859960" href="#panel-element-200394">Specialists included in trial</a>
					</div>
					<div id="panel-element-200394" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<dl>
				<dt>
					<span><p class="lead text-danger">It appears no specialists have been added yet. Feel free to <a href="/patients">add a specialist</a></p></span>
				</dt>
			</dl>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">

		</div>
	</div>
</div>
