<h1>Trials</h1>

<% if @trials.any? %>
  <% @trials.uniq.each do |trial| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>View</th>
          <th>Name</th>
          <!-- <th>Last Name</th> -->
          <th>Company</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
              <a href="/trials/<%= trial.id %>" class="btn btn-xs btn-info glyphicon glyphicon-plus"></a>
            </td>
            <td><%= trial.name %></td>
            <td><%= trial.company %></td>
            <td>
              <form action="/trials/<%= trial.id %>" method="post">
                <input name="_method" type="hidden" value ="delete">
                <button id="delete_trial" type="submit" class="btn btn-xs btn-danger glyphicon glyphicon-remove">
                </button>
              </form>
            </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p class="lead"> No trials have been added yet. Please add trials <a href="/trials/add">here</a>.
<% end %>
