<h1>Add Day Unavailable</h1>

<div class="col-md-4 col-md-offset-4">
  <form action="/vacations/add" method="post">
    <!-- <div class="form-group"> -->
      <div class="input-daterange">
    <input type="text" class="input-small" value="2012-04-05" />
    <span class="add-on">to</span>
    <input type="text" class="input-small" value="2012-04-19" />
</div>
      <!-- <input class="form-control" type="input-daterange" name="birthday" id="birthday" value="<%= @patient.birthday %>">
    </div> -->
    <button name="submit" type="submit" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus"></span></button>
  </form>
</div>
