h1 {
  border-bottom: 1px solid #eee;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 1em;
  font-family: "Hoefler Text", serif;
  font-size: 50px;
  color: royalblue;
}

body {
  margin-bottom: 70px;
  color: #0e4d8f
}

.navbar-inverse {
  background-color: #0e4d8f;
  border-color: #0e4d8f;
  background-image: none;
  background-repeat: no-repeat;
  font-family: Helvetica;
  filter: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #0376AD;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #efefef;
    background-color: #0e4d8f;
}

.navbar-inverse .navbar-nav>li>a {
  color: #efefef;
}

.navbar-inverse .navbar-brand {
  color: #efefef;
}

.btn-success {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-success:hover {
  color: #fff;
  background-color: #eea236;
  border-color: #eea236;
}

.btn-info {
  background-color: #4169E1;
}

.btn-info:hover {
  background-color: #4F74E4;
  border-color: #4169E1;
}

h1 small,
.h1 small {
  color: #B8C1CF;
}

.panel-group .panel+.panel{
  margin-top: 0px;
  }
