h1 {
  border-bottom: 1px solid #eee;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 1em;
  font-family: "Hoefler Text", serif;
  font-size: 50px;
  color: royalblue;
}

body {
  margin-bottom: 50px;
}
